<meta name="viewport" content="width=device-width, initial-scale=1.0">
<table class="table">
    <tr>
        <td>Model:</td>
        <td>{{ product.model }}</td>
    </tr>
    <tr>
        <td>Gen:</td>
        <td>{{ product.gender }}</td>
    </tr>
    <tr>
        <td>Sezon:</td>
        <td>{{ product.season }}</td>
    </tr>
    <tr>
        <td>Mărime:</td>
        <td>{{ product.size }}</td>
    </tr>
    <tr>
        <td>Culoare:</td>
        <td>{{ product.color }}</td>
    </tr>
</table>