
body {
    background-image: url(images/check.jpg); /* Путь к фоновому изображению */
    background-attachment: fixed; /* Фиксируем фон веб-страницы */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
button {
    height: 50px;
    width: 210px;
    margin-left: 75%;

}
form {
    padding-top: 100px;
    padding-left: 100px;
}
table {
    display: block;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    max-width: 20%;
    width: 20%;
    text-align: center;
}

th, td {
    border-bottom: 1px solid #669;
}
tr:hover {
    background-color: #f5f5f5;
    background: rgba(50, 50, 50, 0.3);
}